---
import App from "../Astro.jsx";
---

<html>
  <head>
    <title>Filtr Kommunikation</title>
    <link href="/src/styles/tailwind.css" rel="stylesheet">
  </head>
  <body>
    <App />
  </body>
</html>
